.friendMessage {
    text-align: left;
    padding-left: 10%;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    margin-left: 1%;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #F5F7FB;
    color: black;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.friendText:after {}

.friendName {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.friendMessageText {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
}

.friendTime {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    padding-left: 1%;

}